<!DOCTYPE html>
<html ng-app="nodeTodo">
  <head>
    <title>Welcome to the 12mc!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link   </head>
  <body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>12mc Voting App</h1>
        <hr>
        <h1 class="lead">You have 5 credits - Split them between your favourite teams OR assign them to just one! :)</h1>
      </div>

      <br>


    </div>

    <body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>Team 1</h1>
        <hr>
      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter No of Credits" ng-model="formData.text">
          </div>
        </form>
      </div>

      <br>

    

    </div>

    <body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>Team 2</h1>
        <hr>
 
      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter No of Credits" ng-model="formData.text">
          </div>
        </form>
      </div>

      <br>

  

    </div>

    <body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>Team 3</h1>
        <hr>

      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter No of Credits" ng-model="formData.text">
          </div>
        </form>
      </div>

      <br>

    </div>


<body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>Team 4</h1>
        <hr>
        
      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter No of Credits" ng-model="formData.text">
          </div>
        </form>
      </div>

      <br>

    </div>


<body ng-conhref="stylesheets/style.css" rel="stylesheet" media="screen">


    <div class="container">

      <div class="header">
        <h1>Team 5</h1>
        <hr>

      </div>

      <div class="todo-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter No of Credits" ng-model="formData.text">
          </div>
          <br> </br>
          <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Assign Credits</button>
        </form>
      </div>
<br> </br>
